// Colors
$lighter-blue: #36aee1;
$blue: #009ee1;
$darker-blue: #045a7f;
$dark-blue: #006B99;
$white: #fff;
$lighter-grey: #eee;
$grey: #999;
$darker-grey: #666;
$lighter-black: #424242;
$black: #2c2c2c;
$darker-black: #343434;

$red: #e6332a;
$green: #95c11f;
$yellow: #f9b233;
$purple: #bc00e3;
$orange: #ff8700;

$error: $red;
$status: $green;
$warning: $yellow;
